<h2>Subs!</h2>
<hr>
<ul>


<% @sub.each do |sub| %>
<li><a href="<%= sub_url(sub) %>"> <%= sub.name %> </a><br>
  <a href="<%= edit_sub_url(sub) %>">Edit Link</a>
  <br>
  <br>


</li>
<% end  %>
</ul>

<hr>
<a href="<%= new_sub_url %>">New Sub!</a>
