/* PHASE 1: Header */
.header nav {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.right-nav li:hover {
  background: #6600ff;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
}

.header {
  background: #0033cc;
  color: #fff;
  border-bottom: 1px solid #666699;

  
}
.header a {
  display: block;
  padding: 10px 20px;
}
.header-logo {
  border-right: 1px solid #ccc;
  font-weight: 700;
}
.header-logo:hover {
  background-image: url(https://orig00.deviantart.net/8e27/f/2012/339/b/8/hydetroll_by_hyde9318-d5n71yx.png);

  background-attachment: fixed;
  background-position: top left;
  background-size: auto;
}

